<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <appender name="FILE-ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log-dir}/capi.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log-dir}/capi.%d{yyyy-MM-dd}.%i.gz</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d %p %c{1.} [%routeId] [%t] %m%n</pattern>
        </encoder>
    </appender>
    <appender name="CONSOLE-CAPI" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d %p [%X{routeId}][%t] %m%n </pattern>
        </encoder>
    </appender>
    <springProfile name="default">
        <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
        <logger name="org.springframework" level="INFO"/>
        <root level="info">
            <!--appender-ref ref="CONSOLE"/-->
            <appender-ref ref="CONSOLE-CAPI"/>
        </root>
        <logger name="io.surisoft.capi" additivity="false" level="TRACE">
            <appender-ref ref="CONSOLE"/>
        </logger>
    </springProfile>
</configuration>